textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #5d0311;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #fff;
  outline: 0 none; }

@font-face {
  font-family: logoFont;
  src: url("/assets/fonts/BADABB__.TTF"); }
body {
  padding-top: 70px;
  padding-bottom: 30px; }

.small-margin {
  margin: 5px; }

.medium-margin {
  margin: 10px; }

.vcenter {
  margin: 5% 25%; }

.input-group-addon {
  min-width: 150px;
  max-width: 250px; }

.payment {
  padding: 150px; }

.rytis-star .glyphicon-star-empty {
  font-size: 2em;
  color: #e1e100; }
.rytis-star .glyphicon-star {
  font-size: 2em;
  color: #e1e100; }
.rytis-star .glyphicon-star-empty:hover + .glyphicon-star {
  font-size: 2em; }

.navbar-brand {
  font-family: logoFont; }

/* navbar */
.navbar-default {
  background-color: #fff;
  border-bottom: #000000 solid 1px; }

/* title */
.navbar-default .navbar-brand {
  color: #fff;
  border-color: transparent;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
  border-color: transparent;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out; }

/* link */
.navbar-default .navbar-nav > li > a {
  color: #fff;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #fff; }

/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out; }

.loginDropdown > li {
  text-align: center;
  margin: 5px; }

.searchBar {
  max-width: 1000px;
  margin: 30px 25% 40px; }

.margin > div > a > img {
  max-height: 1000px;
  max-width: 500px;
  margin: 5px; }

#myCarousel {
  margin-bottom: 40px; }

.thumbnail {
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

.item.list-group-item {
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px; }

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
  background: #428bca; }

.item.list-group-item .list-group-image {
  margin-right: 10px; }

.item.list-group-item .thumbnail {
  margin-bottom: 0px; }

.item.list-group-item .caption {
  padding: 9px 9px 0px 9px; }

.item.list-group-item:nth-of-type(odd) {
  background: #eeeeee; }

.item.list-group-item:before, .item.list-group-item:after {
  display: table;
  content: " "; }

.item.list-group-item img {
  float: left; }

.item.list-group-item:after {
  clear: both; }

.list-group-item-text {
  margin: 0 0 11px; }

/*  Side bar style */
.sidebar-wrapper {
  background-color: grey;
  float: left;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
  margin: 0;
  margin-bottom: 10px; }

.sidebar-wrapper ul {
  list-style: none;
  overflow: hidden;
  padding: 5px 16px;
  margin: 0; }

.sidebar-brand li {
  line-height: 40px;
  float: left;
  margin: 0;
  padding: 10px; }

.sidebar-nav h4 {
  margin: 0; }

.sidebar-first {
  border-right: 2px solid;
  margin-right: 5px; }

.sidebar-nav li {
  line-height: 40px;
  float: left;
  padding: 5px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

.container-fluid {
  max-width: 960px; }

[data-toggle="collapse"] {
  cursor: pointer; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.valign-middle {
  vertical-align: middle !important; }

@media screen and (max-width: 767px) {
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive tfoot,
  .table-responsive tr,
  .table-responsive th,
  .table-responsive td {
    display: block; }
  .table-responsive thead {
    display: none; }
  .table-responsive .align-center,
  .table-responsive .align-right {
    text-align: inherit; }
  .table-responsive tr {
    border-top: 1px solid #ddd; }
    .table-responsive tr:first-child {
      border: 0; }
  .table-responsive > tbody > tr > td {
    padding-left: 50%;
    border-top-color: rgba(221, 221, 221, 0.5); }
    .table-responsive > tbody > tr > td:first-child {
      border: 0; }
  .table-responsive [data-label] {
    position: relative; }
    .table-responsive [data-label]:before {
      position: absolute;
      top: 0;
      left: 0;
      padding: 8px;
      content: attr(data-label);
      font-weight: bold; }

  .navbar-fixed-top.visible-xs + .row {
    padding-top: 60px; }

  .btn .visible-xs {
    display: inline-block !important; }

  .sliding-sidebar {
    position: absolute;
    z-index: 1;
    background: #fff;
    min-height: 100%;
    border-right: 1px solid #ccc; }
    .sliding-sidebar.collapse, .sliding-sidebar.collapsing {
      display: block !important;
      transform: translate3D(-100%, 0, 0);
      transition: all 200ms; }
    .sliding-sidebar.collapse.in {
      transform: translate3D(0, 0, 0);
      box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05), 2px 0 0 rgba(0, 0, 0, 0.05), 3px 0 0 rgba(0, 0, 0, 0.05); } }
.parent-collapsed {
  display: none; }

.collapsed .parent-expanded {
  display: none; }
.collapsed .parent-collapsed {
  display: inline-block; }

textarea {
  max-width: 1000px; }

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  /* width: 250px; remove this */
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
  background-size: contain; }

.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  /* width: 20%; remove this */
  z-index: 1;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
  background-size: contain; }

.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  /* width: 20%; remove this */
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative; }

.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1; }

.star-rating i ~ i {
  width: 40%; }

.star-rating i ~ i ~ i {
  width: 60%; }

.star-rating i ~ i ~ i ~ i {
  width: 80%; }

.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%; }

.star-rating.star-5 {
  width: 250px; }

.star-rating.star-5 input,
.star-rating.star-5 i {
  width: 20%; }

.star-rating.star-5 i ~ i {
  width: 40%; }

.star-rating.star-5 i ~ i ~ i {
  width: 60%; }

.star-rating.star-5 i ~ i ~ i ~ i {
  width: 80%; }

.star-rating.star-5 i ~ i ~ i ~ i ~ i {
  width: 100%; }

.margin {
  margin: 10px; }

#grid-p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/*# sourceMappingURL=theme.css.map */
