@(enquiryForm: Form[EnquiryDescription])(implicit session: Session)

@main("AboutContact") {
    <script>changePage("aboutcontact")</script>
    <div class ="row">




                <div class="row">
                    <div class="col-sm-9">
                        <h1 style="padding-bottom:50px"; class="bg-primary">Welcome to NBGardens</h1>

                        <div class="row">
                            <div class="col-xs-18 col-sm-18">
                                <div class="col-md-4"> <img class="image-reponsive" float = left src="http://pixel.nymag.com/imgs/daily/vulture/2012/12/19/19_anchorman.w190.h190.2x.jpg">
                                    <p class="text-primary">CEO David Rose</p>
                            </div>
                            <div class="col-xs-8 col-sm-8 bg-info" style="font-family:Times New Roman Italic size=6;">
                                <em align="left">

                                    I founded NB Gardens in The Old Brewery in Burford in 1994, after spending 10 years designing  and developing products for leading Retailers including: John Lewis, Habitat, Habitat France, Conran, Boots, Heal’s, Next Interiors and Williams Sonoma, Restoration Hardware, Crate & Barrel, Pottery Barn and Smith and Hawken in the USA.
                                <h1 style="padding-bottom:20px";></h1>
                                    I had recently returned from a business trip to the West Coast of the United States which made me realise that there was a gap in the retail garden and interiors market in the UK, for products that were well designed and practical but not overly contemporary- Classic with clean lines.
                                <h1 style="padding-bottom:20px";></h1>
                                    I love the feel and uniqueness of rural houses , they can look wonderful with uncluttered modern or vintage furniture, lighting and accessories, soothing colour tones, modern wood burners or open fires, painted floor boards and sisal. Kitchens and bathrooms can be very simple but always using high quality fittings and materials.
                                <h1 style="padding-bottom:20px";></h1>
                                    This look and feel can of course also be applied to Town Houses and contemporary homes too, it is just a matter of taste!
                                <h1 style="padding-bottom:20px";></h1>
                                    I think that with the pace of modern life we need an environment that is easy to use, clean and store in. I would admit that clutter is my pet hate but I am definitely not alone judging by our ever growing business and following and most of our products offer a practical solution.
                                <h1 style="padding-bottom:20px";></h1>
                                    Always ethically aware, we strive to use responsibly sourced materials from within the EU where possible and only from factories that we have physically visited and audited. Our products are built to stand the test of time.
                                <h1 style="padding-bottom:20px";></h1>
                                    We have a great team of people who share my passion and I am very proud of what we have achieved. We may have only physically moved 3 miles to our existing premises next to the RAF base in Brize Norton, but we have come a long way.
                                <h1 style="padding-bottom:20px";></h1>
                                    We are growing Garden Trading to give our returning and new customers even more choice and the service and standards that they should expect.
                                <h1 style="padding-bottom:40px";></h1>


                                    We hope that you enjoy NB Gardens and we always welcome your comments.

                                <img style="padding-bottom:40px";> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Accession_Treaty_2011_David_Cameron_signature.svg/337px-Accession_Treaty_2011_David_Cameron_signature.svg.png"> </img>



                                <h1 style="padding-bottom:10px";></h1>
                                    David Rose
                                    <h1 style="padding-bottom:2px";></h1>
                                    Founder & Managing Director</em>

                            </div>
                        </div>
                    </div>
                </div>



        </div>




    @helper.form(routes.AboutContactController.createEnquiry()) {
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2>Enquire</h2>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-12 col-lg-12">
                            <div class="vcenter">
                                <img src="" class="img-circle form-group" width="100" height="100">

                                <div class="input-group form-group">
                                    <span class="input-group-addon">Fullname</span>
                                    <input name="name" class="form-control" type="text">
                                </div>

                                <div class="input-group form-group">
                                    <span class="input-group-addon">Email</span>
                                    <input name="email" class="form-control" type="text">
                                </div>
                                <div class="input-group form-group">
                                    <span class="input-group-addon">Enquiry</span>
                                    <input name="enquiry" class="form-control" type="text">
                                </div>

                                <div class="form-group text-center">
                                    <input id="btnLogin" type="submit" class="btn btn-default" value="Submit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
}


