<div class="input-group form-group">
    <span class="input-group-addon">Address line 1</span>
    <input name="addressLine1" type="text" class="form-control">
</div>

<div class="input-group form-group">
    <span class="input-group-addon">AddressLine 2</span>
    <input name="addressLine2" type="text" class="form-control">
</div>

<div class="input-group form-group">
    <span class="input-group-addon">City</span>
    <input name="city" type="text" class="form-control">
</div>

<div class="input-group form-group">
    <span class="input-group-addon">County</span>
    <input name="county" type="text" class="form-control">
</div>

<div class="input-group form-group">
    <span class="input-group-addon">Postcode</span>
    <input name="postcode" type="text" class="form-control">
</div>