

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class='form-group'>
            <label class='control-label'>Cardholder Name</label>
            <input name="cardholder" class='form-control' type='text'>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class='form-group'>
            <label class='control-label'>Card Number</label>
            <input name="cardnumber" autocomplete='off' class='form-control card-number' type='text' maxlength="19">
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class='form-group'>
            <label class='control-label'>Expiration Month</label>
            <input name="expirationMonth" class='form-control' type='text' maxlength="2">
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class='form-group'>
            <label class='control-label'>Expiration Year</label>
            <input name="expirationYear" class='form-control' type='text' maxlength="4">
        </div>
    </div>