
@(products: Array[Product])(implicit session: Session)
    @main("Catalogue") {

      <style>
      .img {
max-width: 100px; max-height: 100px;
}
      </style>
        <script>changePage("catalogue")</script>
        <div class="container">
            <div class="well well-sm">
                <strong>Catalogue display</strong>
                <div class="btn-group">
                    <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
                    </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
                </div>
            </div>
        </div>

        <div id="products">
        @sidebar {
            @grid(products)
        }
        </div>

    }
