@import scala.collection.mutable.ArrayBuffer
@(form: Form[Int])(products: Array[Product])(implicit session: Session)
    @main("Catalogue") {
      <style>
      .product {
  display: flex;
  flex-wrap: wrap;
}
      </style>
        <script>changePage("catalogue")</script>
        <div class="container">
            <div class="well well-sm">
                <strong>Category Title</strong>
                <div class="btn-group">
                    <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
                    </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
                </div>
            </div>

            <div class ="sidebar-wrapper">

                <ul class="sidebar-nav">
                    <li class="sidebar-first"><h4 class="sidebar-brand">View By</br> Category</h4></li>
                    <li>
                        <a class="sidebar-brand" href='#'>
                            Big Gnomes&nbsp;<span>(0)</span>
                        </a>
                    </li>
                    <li>
                        <a class="sidebar-brand" href='#'>
                            Small Gnomes&nbsp; <span>(0)</span>
                        </a>
                    </li>
                    <li>
                        <a class="sidebar-brand" href='#'>
                            Garden Accessories&nbsp; <span>(0)</span>
                        </a>
                    </li>
                    <li>
                        <a class="sidebar-brand" href='#'>
                            Sexy Gnomeware&nbsp; <span>(0)</span>
                        </a>
                    </li>

                </ul>

            </div>
<section class="Product">
            <div id="products">
              <img src="@grid(form)(products)" class="img-thumbnail" width="300" height="300">

            </div>
        </div>
</section>
}
