

<!DOCTYPE html>

<html lang="en">


<head>
<!--
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap-theme.css")">
    <script src="@routes.Assets.versioned("javascripts/jquery-3.0.0.min.js")"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        -->

    <div id="header">

        <h1 style="color:lightgreen;font-size:400%;text-align:center;padding:12px;background-color:black;">Dank Gardens</h1>
    </div>
</head>


<body style="background-color:grey;">




<table style="width:80%;float:left">
    <th style="width:25.5%;text-align:left;font-size:200%;padding:5px;background-color:white;">Item</th>
    <th style="width:46.1%;text-align:left;font-size:200%;padding:5px;background-color:white;">Quantity
        <button type="button" onclick=location.reload();>Update basket</button>
    </th>
    <th style="width:2;text-align:left;font-size:200%;padding:5px;background-color:white;">Price</th>
</table>

<table style="width:20%">

    <th style="font-size:200%;padding:5px;background-color:white">Basket</th>

    </table>




<div id="basket row1">
<table style="width:80%;float:left">

    <tr>
        <td style="width:25.5%;padding:5px;background-color:white;">name</td>
        <td style="width:46.1%;padding:5px;background-color:white;">
            <form>
                <br>
                <input type="number" value="1" min="0" max="99" name="quantity"><br>

            </form>
        </td>
        <td style="width:5;padding:5px;background-color:white;">
            <form>
                <br>
                <input type="text" name="price"><br>

            </form>
        </td>
</table>
</div>

<div id="basket row2">
    <table style="width:80%;float:left">

        <tr>
            <td style="width:25.5%;padding:5px;background-color:white;">name</td>
            <td style="width:46.1%;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="number" value="1" min="0" max="99" name="quantity"><br>

                </form>
            </td>
            <td style="width:5;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="text" name="price"><br>

                </form>
            </td>
    </table>
</div>

<div id="basket row3">
    <table style="width:80%;float:left">

        <tr>
            <td style="width:25.5%;padding:5px;background-color:white;">name</td>
            <td style="width:46.1%;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="number" value="1" min="0" max="99" name="quantity"><br>

                </form>
            </td>
            <td style="width:5;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="text" name="price"><br>

                </form>
            </td>
    </table>
</div>

<div id="basket row4">
    <table style="width:80%;float:left">

        <tr>
            <td style="width:25.5%;padding:5px;background-color:white;">name</td>
            <td style="width:46.1%;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="number" value="1" min="0" max="99" name="quantity"><br>

                </form>
            </td>
            <td style="width:5;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="text" name="price"><br>

                </form>
            </td>
    </table>
</div>

<div id="basket row5">
    <table style="width:80%;float:left">

        <tr>
            <td style="width:25.5%;padding:5px;background-color:white;">name</td>
            <td style="width:46.1%;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="number" value="1" min="0" max="99" name="quantity"><br>

                </form>
            </td>
            <td style="width:5;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="text" name="price"><br>

                </form>
            </td>
    </table>
</div>

<div id="basket row6">
    <table style="width:80%;float:left">

        <tr>
            <td style="width:25.5%;padding:5px;background-color:white;">name</td>
            <td style="width:46.1%;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="number" value="1" min="0" max="99" name="quantity"><br>

                </form>
            </td>

            <td style="width:5;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="text" name="price"><br>

                </form>
            </td>
    </table>
</div>






<table style="width:20%;padding:14px;background-color:white;">

    <td>Subtotal: </td>

</table>

<table style="width:20%;padding:14px;background-color:white;">

    <td>Discounts: </td>

</table>

<table style="width:20%;padding:14px;background-color:white;">

    <td>Delivery: </td>
    <td>
        <form>
            <input type="radio" name="gender" value="male" checked> Standard<br>
            <input type="radio" name="gender" value="female"> Express<br>
            <input type="radio" name="gender" value="other"> 24 Hour
        </form>
    </td>

</table>




<table style="width:20%;padding:14px;background-color:white;">

    <td>Total: </td>

</table>

<table style="width:20%;padding:14px;background-color:white;">

    <td><form action="http://wish.org/~/media/100-000/Content/Cena%20500/cena200x299.ashx?h=299&w=200&la=en" method="get">
        <button>Pay now</button>
    </form>
       </td>
    <td>
        <form action="https://i.ytimg.com/vi/HjMILwTcLsQ/maxresdefault.jpg" method="get">
            <button>Pay later</button>
        </form></td>



</table>



<img src="https://lh5.googleusercontent.com/-T5V_ucVXmXU/AAAAAAAAAAI/AAAAAAAAABc/O9yq4A6PKbA/photo.jpg" alt="My Image" height="264" width="291">



<canvas id="myCanvas" width="578" height="400"></canvas>
<script>
      var canvas = document.getElementById('myCanvas');
      var context = canvas.getContext('2d');
      var imageObj = new Image();

      imageObj.onload = function() {
        context.drawImage(imageObj, 69, 50);
      };
      imageObj.src = 'http://www.html5canvastutorials.com/demos/assets/darth-vader.jpg';
    </script>






</body>

<tail>


</tail>

</html>





