<!DOCTYPE html>


<html lang="en">


<head>
<!--
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap-theme.css")">
    <script src="@routes.Assets.versioned("javascripts/jquery-3.0.0.min.js")"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        -->

    <div id="header">

        <h1 style="color:lightgreen;font-size:400%;text-align:center;padding:12px;background-color:black;">Dank Gardens</h1>
    </div>
</head>


<body style="background-color:grey;">






<table style="width:80%;float:left">
    <th style="width:25.5%;text-align:left;font-size:200%;padding:5px;background-color:white;">Item</th>
    <th style="width:46.1%;text-align:left;font-size:200%;padding:5px;background-color:white;">Quantity
        <button type="button" onclick="alert('Basket was updated lol')">Update basket</button>
    </th>
    <th style="width:2;text-align:left;font-size:200%;padding:5px;background-color:white;">Price</th>
</table>

<table style="width:20%">

    <th style="font-size:200%;padding:5px;background-color:white">Basket</th>

    </table>




<div id="basket row">
<table style="width:80%;float:left">

    <tr>
        <td style="width:25.5%;padding:5px;background-color:white;">name</td>
        <td style="width:46.1%;padding:5px;background-color:white;">
            <form>
                <br>
                <input type="number" name="quantity"><br>

            </form>
        </td>
        <td style="width:5;padding:5px;background-color:white;">
            <form>
                <br>
                <input type="text" name="price"><br>

            </form>
        </td>
</table>
</div>

<div id="basket row">
    <table style="width:80%;float:left">

        <tr>
            <td style="width:25.5%;padding:5px;background-color:white;">name</td>
            <td style="width:46.1%;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="number" name="quantity"><br>

                </form>
            </td>
            <td style="width:5;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="text" name="price"><br>

                </form>
            </td>
    </table>
</div>

<div id="basket row">
    <table style="width:80%;float:left">

        <tr>
            <td style="width:25.5%;padding:5px;background-color:white;">name</td>
            <td style="width:46.1%;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="number" name="quantity"><br>

                </form>
            </td>
            <td style="width:5;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="text" name="price"><br>

                </form>
            </td>
    </table>
</div>

<div id="basket row">
    <table style="width:80%;float:left">

        <tr>
            <td style="width:25.5%;padding:5px;background-color:white;">name</td>
            <td style="width:46.1%;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="number" name="quantity"><br>

                </form>
            </td>
            <td style="width:5;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="text" name="price"><br>

                </form>
            </td>
    </table>
</div>

<div id="basket row">
    <table style="width:80%;float:left">

        <tr>
            <td style="width:25.5%;padding:5px;background-color:white;">name</td>
            <td style="width:46.1%;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="number" name="quantity"><br>

                </form>
            </td>
            <td style="width:5;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="text" name="price"><br>

                </form>
            </td>
    </table>
</div>

<div id="basket row">
    <table style="width:80%;float:left">

        <tr>
            <td style="width:25.5%;padding:5px;background-color:white;">name</td>
            <td style="width:46.1%;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="number" name="quantity"><br>

                </form>
            </td>
            <td style="width:5;padding:5px;background-color:white;">
                <form>
                    <br>
                    <input type="text" name="price"><br>

                </form>
            </td>
    </table>
</div>






<table style="width:20%;padding:14px;background-color:white;">

    <td>Subtotal: </td>

</table>

<table style="width:20%;padding:14px;background-color:white;">

    <td>Discounts: </td>

</table>

<table style="width:20%;padding:14px;background-color:white;">

    <td>Delivery: </td>
    <td>
        <form>
            <input type="radio" name="gender" value="male" checked> Standard<br>
            <input type="radio" name="gender" value="female"> Express<br>
            <input type="radio" name="gender" value="other"> 24 Hour
        </form>
    </td>

</table>



<table style="width:20%;padding:14px;background-color:white;">

    <td>Total: </td>

</table>

<table style="width:20%;padding:14px;background-color:white;">

    <td><button type="button" onclick="alert('Get rekt')">Checkout</button></td>

</table>




<!--
learning to use git
-->




</body>

<tail>


</tail>

</html>




