@(implicit session: Session)

@main("Customer Satisfaction Form") {
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 col-lg-12">
                <div class="vcenter">
                @helper.form(routes.CustomerSatisfactionController.submitForm) {


                    <div class="form-group">
                        <span class="star-rating star-5">
                            <input type="radio" name="rating" value="1"><i></i>
                            <input type="radio" name="rating" value="2"><i></i>
                            <input type="radio" name="rating" value="3"><i></i>
                            <input type="radio" name="rating" value="4"><i></i>
                            <input type="radio" name="rating" value="5"><i></i>
                        </span>
                    </div>

                    <div class="input-group form-group center-block">
                        <textarea name="comment" class="form-control" rows="3" placeholder="Leave a review"></textarea>
                    </div>

                    <div class="form-group text-center">
                        <input id="btnSubmit" type="submit" class="btn btn-default margin" value="Submit">
                    </div>

                </div>
                }
            </div>

        </div>
    </div>
}