<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap-theme.css")">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap.js")"></script>
</head>
<body>
<!--<div class="container">-->
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Login
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <form class="form" id="formLogin">
                <input name="username" id="username" type="text" placeholder="Username"></input>
                <input name="password" id="password" type="password" placeholder="Password"></input><br>
                <button type="button" id="btnLogin" class="btn">
                    Login
                </button>
            </form>
        </ul>
    </div>
<!--</div>-->
</body>
</html>