

@(products: Array[Product])(implicit session: Session)

@if(!products.isEmpty) {
@for(p <- products) {

    <div class="item col-xs-12 col-sm-12 col-md-4 col-lg-4" >
        <div>
            <a href="@routes.ProductViewController.viewProduct(p.itemID)">
                <img height="250" width="250" class="group list-group-image img-rounded" src="@p.images" alt="" />


                <div class="caption">
                    <br>
                    <h4 class="group inner list-group-item-heading">
                    @p.product</h4>
                </div>
            </a>


            <p class="group inner list-group-item-text">
                    We have <strong><em>@p.stock</em></strong> in stock
            </p>
            <div class="row">
                <div class="col-xs-20 col-md-6">
                    <p class="lead">
                                £@p.price
                    </p>
                </div>

                <div class="col-xs-12 col-md-6">
                    <a type="submit" class="btn btn-success" href="@routes.BasketController.add(p.itemID)">Add to basket</a>
                </div>

            </div>
        </div>
    </div>
}
} else {
    <br><div ><h4><strong>Whoops!</strong> We don't currently have any products matching that description.</h4></p></div>
}

