@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)(form: Form[Login])
    @*
    * Call the `main` template with two arguments. The first
    * argument is a `String` with the title of the page, the second
    * argument is an `Html` object containing the body of the page.
    *@
    @main("Home") {

        @message


        <style>
        .later {
            -webkit-clip-path: polygon(25% 0%, 100% 0, 75% 100%, 0% 100%);
            clip-path: polygon(25% 0%, 100% 0, 75% 100%, 0% 100%);
        }

        div.border > div img {
            border: solid #fff 1px;
        }

        #sliderImages > img {
            display: none;
        }

        </style>


        <div id="homeSlider">

            <div id="currentImage" class="col-md-12 col-lg-12">
                <img src="">
            </div>

            <div id="sliderImages">
                <img src="https://i.imgsafe.org/654ff3d7c5.jpg">
                <img src="https://i.imgsafe.org/655cb5def4.jpg">
                <img src="https://i.imgsafe.org/65509218e6.jpg">
            </div>
        </div>

        <div class="col-md-12 col-lg-12 border">
            <div class="row inline-block">
                <div class="col-md-6 col-lg-6">
                    <img src="https://i.imgsafe.org/657cbad1af.jpg">
                </div>
                <div class="col-md-6 col-lg-6">
                    <img src="https://i.imgsafe.org/657cc1311c.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <img src="https://i.imgsafe.org/657cc6b65f.jpg">
                </div>
                <div class="col-md-6 col-lg-6">
                    <img src="https://i.imgsafe.org/657ccd93ed.jpg">
                </div>
            </div>
        </div>
    }
