@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)(form: Form[Login])
    @*
    * Call the `main` template with two arguments. The first
    * argument is a `String` with the title of the page, the second
    * argument is an `Html` object containing the body of the page.
    *@
    @main("Home") {

        @message


        <style>
        .later {
            -webkit-clip-path: polygon(25% 0%, 100% 0, 75% 100%, 0% 100%);
            clip-path: polygon(25% 0%, 100% 0, 75% 100%, 0% 100%);
        }

        div.border > div img {
            border: solid #fff 1px;
        }

        #sliderImages > img {
            display: none;
        }

        </style>


        <div id="homeSlider">

            <div id="currentImage" class="col-md-12 col-lg-12">
                <img src="">
            </div>

            <div id="sliderImages">
                <a href= "@routes.CatalogueController.show("")"> <img src="https://i.imgsafe.org/654ff3d7c5.jpg"/> </a>
                <img src="https://i.imgsafe.org/655cb5def4.jpg">
                <img src="https://i.imgsafe.org/65509218e6.jpg">
            </div>
        </div>

        <div class="col-md-12 col-lg-12 border">
            <div class="row inline-block">
                <div class="col-md-6 col-lg-6">
                   <a href="http://www.gannett-cdn.com/-mm-/7420484b74b75a2c735248dcda61358fb389f70a/c=0-30-1058-628&r=x329&c=580x326/local/-/media/2015/12/06/USATODAY/USATODAY/635850267481025932-JARJAR-1553719.JPG"> <img src="https://i.imgsafe.org/657cbad1af.jpg"/> </a>
                </div>
                <div class="col-md-6 col-lg-6">
                   <a href="http://assets1.ignimgs.com/thumbs/userUploaded/2015/5/21/JarJar-1432251548744_large.jpg"> <img src="https://i.imgsafe.org/657cc1311c.jpg"/> </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                   <a href="https://i.ytimg.com/vi/pSxYqeVWH8o/maxresdefault.jpg"> <img src="https://i.imgsafe.org/657cc6b65f.jpg"/> </a>
                </div>
                <div class="col-md-6 col-lg-6">
                   <a href="http://i.imgur.com/UMN9Uv2.png"> <img src="https://i.imgsafe.org/657cc1311c.jpg"/> </a>
                </div>
            </div>
        </div>
    }
