@import play.api.mvc.Flash
@(implicit session: Session, flash: Flash)
@main("Login") {
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 col-lg-12">
                <div class="vcenter">


                    @if(flash.get("type").isDefined) {

                        <div class="@flash.get("class")">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @flash.get("message")
                        </div>
                    }

                    <p id="validateLogin"></p>
                    <form id="loginForm" action="@routes.LoginController.validateLogin()" method="post">
                        <p id="checkEmail"></p>
                        <div class="input-group form-group">
                            <span class="input-group-addon">Username</span>
                            <input name="email" type="text" class="form-control"> <p id="validateEmail"></p>
                        </div>
                        <p id="checkPWD"></p>
                        <div class="input-group form-group">

                            <span class="input-group-addon">Password</span>
                            <input name="password" type="password" class="form-control"><p id="validatePassword"></p>
                        </div>

                        <p id="failLogin"></p>
                        <div class="form-group text-center">
                            <input onclick="validateLogin()" type="button" class="btn btn-default" value="Login">
                        </div>

                        <div class="form-group">
                            <a href="@routes.AboutContactController.aboutAndContact" class="label label-default">
                                Forgot password?</a>
                        </div>
                    </form>
                    <hr>
                    <div class="col-md-12">
                        <div class="form-group">
                            <a href="@routes.RegisterController.register" class="label label-default">
                                Don't have an account?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}