<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap-theme.css")">
        <script src="@routes.Assets.versioned("javascripts/jquery-3.0.0.min.js")"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        <title>Login</title>

        <style>

        </style>
    </head>
    <body>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6">
                    <img src="" class="img-circle form-group" width="100" height="100">
                    <form action="" method="post" class="form-horizontal" role="form">

                        <div class="input-group form-group">
                            <span class="input-group-addon">Username</span>
                            <input type="text" class="form-control">
                        </div>

                        <div class="input-group form-group">
                            <span class="input-group-addon">Password</span>
                            <input type="text" class="form-control">
                        </div>


                        <div class="form-group text-center">
                            <input id="btnLogin" type="submit" class="btn btn-default" value="Login">
                        </div>

                        <div class="form-group text-center">
                            <a class="label label-default">Forgot password?</a>
                        </div>

                    </form>
                    <hr>
                    <form>
                        <div class="col-md-12">

                            <div class="form-group">
                                <input type="button" class="btn btn-default" value="Register">
                            </div>
                            <div class="form-group">
                                <a class="label label-default">New to register?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>

</html>