@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Template">
        <meta name="author" content="MVP Consulting, Emma">
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
            <!-- Bootstrap core CSS -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
            <!-- Bootstrap theme -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-theme.min.css")">
            <!-- Custom styles for this template -->
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/catalogue.css")"/>

    </head>

    <body role="document">

            <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.HomeController.index"><img src="@routes.Assets.versioned("images/logo2.png")" alt="logo2" width="150" height="38"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="@routes.HomeController.index">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gnomes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">All Gnomes</a></li>
                                <li><a href="#">Discounted Gnomes</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Gnome Accessories</li>
                                <li><a href="@routes.GnomeClothingController.gnomeClothing">Gnome Clothing</a></li>
                                <li><a href="#">Discounted Gnome Clothing</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gardening <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@routes.ToolController.tool">Tools</a></li>
                                <li><a href="@routes.ArtificialController.artificial">Artificial Plants</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Miscellaneous <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@routes.BirdController.bird">Bird Items</a></li>
                                <li><a href="@routes.FurnitureController.furniture">Furniture</a></li>
                                <li><a href="@routes.GazeboController.gazebo">Gazebos</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clearance <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Gnome Clearance</a></li>
                                <li><a href="#">All Clearance</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="pull-right">

                    @if(models.Login.getStatus()) {
                        <div>
                            <a href="@models.Login.toggleLogin" class="btn btn-default">Logout</a>
                            <a href="@routes.ManageAccountController.ManageAccounts" class="btn btn-default">Manage Account</a>
                            <p></p>
                        </div>
                    } else {
                        <div class="dropdownLogin">
                            <button class="btn btn-default" data-toggle="dropdown">Log in</button>
                            <div class="dropdown-menu pull-right" style="padding: 12px;
                                background: #eee">
                                <div class="dropdownLogin text-center" style="max-width: 200px">
                                @helper.form(routes.LoginController.validateLogin()) {
                                    <div class="col-md-12">
                                        <div>
                                            <div class="input-group form-group">
                                                <input name="email" type="text" class="form-control" placeholder="Email">
                                            </div>
                                            <div class="input-group form-group">
                                                <input name="password" type="password" class="form-control" placeholder="Password">
                                                @*TODO password reset page*@
                                                <a href="" class="label label-default">Forgot password?</a>
                                            </div>
                                            <div class="btn-group">
                                                <button class="btn btn-default" type="submit">Login</button>
                                                <a href="@routes.RegisterController.register" class="btn btn-default">
                                                    Register</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                        <!--<li role="presentation" align="right" style="border-bottom: -20px"><a href="login">Login</a>-->
                        <!--| <a href="register">Sign up</a></li>-->
                </div> <!--/.nav-collapse -->
            </div>
        </nav>
            <!-- SEARCH BAR -->
        <div class="container" style="margin-top:1%">
            <div class="row">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="  search-query form-control" placeholder="Search" />
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container theme-showcase" role="main">

                <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <h1>@title</h1>
                <p>Welcome to the @title page. Here you can find wonderful things...</p>
            </div>


            <div class="page-header">
                <!--<h1>Sub-heading...</h1>-->
                @content
            </div>
            <div class="container text-center">
                <hr />
                <div class="row">
                Contact details will go here
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="/">© 2016 NBGnomes</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="@routes.AboutContactController.aboutAndContact">About us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="@routes.Assets.versioned("javascripts/jquery-2.2.4.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/catalogue.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/slider.js")"></script>
</html>