@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Template">
    <meta name="author" content="MVP Consulting, Emma">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" media="screen"href="@routes.Assets.versioned("stylesheets/bootstrap-theme.min.css")">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme.css")">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>



    <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="@routes.Assets.versioned("images/logo2.png")" alt="logo2" width="150" height="38"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gnomes <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Large Gnomes</a></li>
                            <li><a href="#">Small Gnomes</a></li>
                            <li><a href="#">Something Gnomes</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Special Edition Gnomes</li>
                            <li><a href="#">4-dimensional gnomes</a></li>
                            <li><a href="#">Immaterial gnomes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accessories <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Miscellaneous</a></li>
                            <li><a href="#">Gnome clothing - NEW!</a></li>
                            <li><a href="#">Gardening equipment</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Seasonal <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Miscellaneous</a></li>
                            <li><a href="#">Gnome clothing - NEW!</a></li>
                            <li><a href="#">Gardening equipment</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clearance <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Miscellaneous</a></li>
                            <li><a href="#">Gnome clothing - NEW!</a></li>
                            <li><a href="#">Gardening equipment</a></li>
                        </ul>
                    </li>
                </ul>
                <li role="presentation" align="right" style="border-bottom: -20px"><a href="#">Login</a> | <a href="#">Sign up</a></li>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <!-- SEARCH BAR -->
    <div class="container">
        <div class="row">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="  search-query form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                </div>
            </div>
        </div>
    </div>
    </br/>
    <br/>
    <div class="container theme-showcase" role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>@title</h1>
            <p>Welcome to the @title page. Here you can find wonderful things...</p>
        </div>


        <div class="page-header">
            <h1>Sub-heading...</h1>
            @content
            <!-- Bootstrap core JavaScript
    ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
            <script src="href="@routes.Assets.versioned("javascripts/bootstrap.js")"></script>
            <script src="href="@routes.Assets.versioned("stylesheets/bootstrap.min.js")"></script>
            </div>

        <div class="container text-center">
            <hr />
            <div class="row">
                Contact details will go here
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="/">© 2016 NBGnomes</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">About us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>