@main("ManageAccount") {


<style>
    .input-group-addon {
    min-width: 200px;
    }
.center-text {
  margin-left: 40%;
  }
  .center{
  margin-left: 36%;
  }
</style>
<div class="center-text">
<h1>My Account</h1>
</div>
<div class="center">
<h2>Edit personal details</h2>
    </div>

<form class="navbar-left">
    <div id="editAccountForm">
        <div class="text-center">

            <div class="form-group input-group">
                <span class="input-group-addon" id="userName">Username</span>
                <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            </div>


            <div class="form-group input-group">
                <span class="input-group-addon" id="telephoneNumber">Telephone Number</span>
                <input type="tel" class="form-control" placeholder="Telephone Number" aria-describedby="basic-addon1">
            </div>

            <div class="form-group input-group">
                <span class="input-group-addon" id="fName">First Name</span>
                <input type="text" class="form-control" placeholder="First Name" aria-describedby="basic-addon1">
            </div>

            <div class="form-group input-group">
                <span class="input-group-addon" id="lName">Last Name</span>
                <input type="text" class="form-control" placeholder="Last Name" aria-describedby="basic-addon1">
            </div>

            <div class="form-group input-group">
                <span class="input-group-addon" id="addrLine1">Address Line 1</span>
                <input type="text" class="form-control" placeholder="Address Line 1" aria-describedby="basic-addon1">
            </div>

            <div class="form-group input-group">
                <span class="input-group-addon" id="addrLine2">Address Line 2</span>
                <input type="text" class="form-control" placeholder="Address Line 2" aria-describedby="basic-addon1">
            </div>

            <div class="form-group input-group">
                <span class="input-group-addon" id="city">City</span>
                <input type="text" class="form-control" placeholder="City" aria-describedby="basic-addon1">
            </div>

            <div class="form-group input-group">
                <span class="input-group-addon" id="county">County</span>
                <input type="text" class="form-control" placeholder="County" aria-describedby="basic-addon1">
            </div>

            <div class="form-group input-group">
                <span class="input-group-addon" id="postCode">Post Code</span>
                <input type="text" class="form-control" placeholder="Post Code" aria-describedby="basic-addon1">
            </div>

            <div class="form-group input-group">
                <span class="input-group-addon" id="currentPwd">Current Password</span>
                <input type="password" class="form-control" placeholder="Current Password" aria-describedby="basic-addon1">
            </div>

            <div class="form-group input-group">
                <span class="input-group-addon" id="newPwd">New Password</span>
                <input type="text" class="form-control" placeholder="New Password" aria-describedby="basic-addon1">
            </div>

            <div class="form-group input-group">
                <span class="input-group-addon" id="confirmPwd">Confirm New Password</span>
                <input type="text" class="form-control" placeholder="Confirm New Password" aria-describedby="basic-addon1">
            </div>

            <div >
                <input class="btn btn-default" type="submit" value="Save">
            </div>

        </div>
    </div>
</form>

}