@(implicit session: Session)
@main("My Account") {
<style>
  .center-text {
            margin-left: 35%;
        }

.center{
    margin-left: 38%;
}

    </style>
<div class="center-text">

    <ul class="nav nav-pills">

        <li role="presentation" class="active"><a href="#">My Account</a></li>
        <li role="presentation"><a href="@routes.ManageAccountController.updateAccount()">Update Details</a></li>

    </ul>

    </div>
    <div class="center">
       <h1>Order History</h1>
</div>
}
