<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap-theme.css")">
    <script src="@routes.Assets.versioned("javascripts/jquery-3.0.0.min.js")"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <p>Product ID</p>
            <p>Product Name</p>
            <div id="image" style="width:200px;height:200px;border:1px solid #000;"></div>
        </div>
        <div class="col-sm-4" align="bottom">
            <p>Stock Status: In Stock</p>
            <p>Price: ££</p>

        </div>
    </div>
</div>



<div align="center">
    At the End
</div>

</body>
</html>