@(list: Array[Order_New])(implicit session: Session)
@main("") {
    @manageAccountsSidebar("Purchase History") {
        <script>changeTab("viewPurchaseHistory")</script>
        <div class="container purchaseHistory">

            <table class="table">
            @if(!list.isEmpty) {

                @for(o <- list) {
                    <tr>
                        <td>Order ID: <br> @o.orderID</td>
                        <td>Order Status: <br> @o.orderStatus</td>
                        <td>Order Payment: <br> @o.paymentMethod</td>
                        <td>Date Ordered: <br> @o.time</td>
                        <td>Star Rating:
                            <form action="@routes.PurchaseHistoryController.orderRating()" method="post">

                                @if(o.rating != 0) {
                                    <script>

                                    </script>
                                }
                            <div class="rytis-star">

                            @for(i <- 0 to 4) {
                                @if(i <= o.rating - 1) {
                                    <div class="star glyphicon glyphicon-star"></div>
                                } else {
                                    <div class="star glyphicon glyphicon-star-empty"></div>
                                }
                            }
                            </div>
                            <input type="hidden" value="" name="rating">
                            <input type="hidden" value="@o.orderID" name="oid">
                            </form>
                        </td>

                    </tr>

                    <tr>
                        <td colspan="6">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapse-@o.orderID">View Items</a>
                                        </h4>
                                    </div>
                                    <div id="collapse-@o.orderID" class="panel-collapse collapse in">

                                        <div class="panel-body">
                                            <table class="table">
                                                <tr>
                                                    <td>Product Name</td>
                                                    <td>Cost</td>
                                                    <td>Quantity</td>
                                                    <td>Porusware Quantity</td>
                                                </tr>
                                                @for(ol <- o.orderLines) {
                                                    <tr>
                                                        <td> @ol.prodId</td>
                                                        <td>£@ol.price</td>
                                                        <td> @ol.quantity</td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td colspan="4">Total Price: £@o.totalPrice</td>
                                                </tr>

                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                }
            } else {<p>kdfhgklsdfgklzxdjg</p>}
            </table>

        </div>
    }
}