@(implicit session: Session)
@main("Register") {
    <style>
    .input-group-addon {
        min-width: 150px;
        text-align: center;
    }

    .vcenter {
        margin: 5% 25%;
    }
    </style>

    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 col-lg-12">
                <div class="vcenter">
                    <img src="" class="img-circle form-group" width="100" height="100">
                    @helper.form(routes.RegisterController.createAddress()) {
                        <div class="input-group form-group">
                            <span class="input-group-addon">House number/name</span>
                            <input name="houseNumber" type="text" class="form-control">
                        </div>

                        <div class="input-group form-group">
                            <span class="input-group-addon">Street name</span>
                            <input name="streetName" type="text" class="form-control">
                        </div>

                        <div class="input-group form-group">
                            <span class="input-group-addon">Town</span>
                            <input name="town" type="text" class="form-control">
                        </div>

                        <div class="input-group form-group">
                            <span class="input-group-addon">City</span>
                            <input name="city" type="text" class="form-control">
                        </div>

                        <div class="input-group form-group">
                            <span class="input-group-addon">County</span>
                            <input name="county" type="text" class="form-control">
                        </div>

                        <div class="input-group form-group">
                            <span class="input-group-addon">Postcode</span>
                            <input name="postcode" type="text" class="form-control">
                        </div>

                        <div class="form-group text-center">
                            <input id="btnRegister" type="submit" class="btn btn-default" value="Next">
                        </div>

                    }
                    <hr>

                    <div class="col-md-12">
                        <div class="form-group">
                            <a href="@routes.LoginController.login()" class="btn btn-default">Login</a>
                        </div>
                        <div class="form-group">
                            <a class="label label-default">Already registered?</a>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
}


