@(implicit session: Session)
@main("Payment") {
    <div class="containter">
        <div class="vcenter">
            <h2>Enter Payment Details</h2>
            <form id="card" action="@routes.RegisterController.createCard()" method="post">
                @cardTemplate()
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <input class="btn btn-default" type="submit" value ="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
}