@main("Register") {
    <style>
    .vcenter {
        margin: 5% 25%;
    }
    </style>

    <div class="containter">
        <div class="col-md-12 centre">
            <div class="vcenter">
                <div><h2>Enter Payment Details</h2></div>

                @helper.form(routes.RegisterController.createCard()) {
                    <div class="col-md-8">
                        <div>
                            <div class='form-group col-md-12 required'>
                                <label class='control-label'>Cardholder Name</label>
                                <input name="cardholder" class='form-control' type='text'>
                            </div>
                        </div>
                        <div>
                            <div class='form-group col-md-12 card required'>
                                <label class='control-label'>Card Number</label>
                                <input name="cardNumber" autocomplete='off' class='form-control card-number' type='text'>
                            </div>
                        </div>
                        <div>
                            <div class='form-group col-md-4  cvc required'>
                                <label class='control-label'>CV</label>
                                <input name="cv" autocomplete='off' class='form-control card-cvc' placeholder='XXX' type='text'>
                            </div>
                            <div class='form-group col-md-4  expiration required'>
                                <label class='control-label'>Expiration</label>
                                <input name="expirationMonth" class='form-control card-expiry-month' placeholder='MM' type='text'>
                            </div>
                            <div class='form-group col-md-4  expiration required'>
                                <label class='control-label'> </label>
                                <input name="expirationYear" class='form-control card-expiry-year' placeholder='YYYY' type='text'>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <input class="btn btn-default" type="submit" href="TODO" value ="Continue">
                    </div>
                }
            </div>
        </div>
    </div>
}


