@(implicit session: Session)
@main("Register") {
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 col-lg-12">
                <div class="vcenter">
                    <form id="addressForm" action="@routes.RegisterController.createAddress()" method="post">
                        @addressTemplate()
                        <div class="form-group text-center">
                            <input type="button" onclick="validateAddress()" class="btn btn-default" value="Next">
                        </div>

                    </form>
                    <hr>

                    <div class="col-md-12">
                        <div class="form-group">
                            <a href="@routes.LoginController.login()" class="btn btn-default">Login</a>
                        </div>
                        <div class="form-group">
                            <a class="label label-default">Already registered?</a>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
}


