
@(content: Html)

<div class="navbar navbar-default visible-xs">
    <div class="container-fluid">
        <button class="btn btn-default navbar-btn" data-toggle="collapse" data-target="#filter-sidebar">
            <i class="fa fa-tasks"></i> Toggle Sidebar
        </button>
    </div>
</div>

<div class="">

    <div class="row">

            <!-- filter sidebar -->
        <div id="filter-sidebar" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 visible-sm visible-md visible-lg collapse sliding-sidebar">

            @for((parent, i) <- Category.parentCats.zipWithIndex) {

            <div>
                <h4 data-toggle="collapse" data-target="#group-@i">
                    <i class="fa fa-fw fa-caret-down parent-expanded"></i>
                    <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
                    @parent
                </h4>
                <div id="group-@i" class="list-group collapse ">
                    @for(sub <- Category.categoryMap(parent)) {
                    <a class="list-group-item" href="@routes.CatalogueController.showCategory(sub.toString)">@Category.formatCategory(sub.toString)
                        <!--<span class="badge">@Product.findByCategory(sub.toString).length </span> -->
                    </a>
                    }
                </div>
            </div>
            }
            <div>
                <h4 data-toggle="collapse" data-target="#group-filter">
                    <i class="fa fa-fw fa-caret-down parent-expanded"></i>
                    <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
                    Advanced Filter
                </h4>
                @helper.form(routes.SearchController.filterSearch) {
                <div id="group-filter" class="list-group collapse in">
                    <div class="input-group form-group center-block">
                        <label for="price-min">Min. Price</label>
                        <input type="number" class="form-control" name="price-min" id="price-min" min="0">
                    </div>
                    <div class="input-group form-group center-block">
                        <label for="price-max">Max. price</label>
                        <input type="number" class="form-control" name ="price-max" id="price-max">
                    </div>
                    <button type="submit" class="btn btn-button">Refine
                    </button>
                </div>
                }

            </div>

        </div><!-- END SIDEBAR-->



            <!-- table container -->
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-9">
            @content
        </div>

    </div>
</div>