@(arr: Array[Address])(implicit session: Session)
@main("") {
    @manageAccountsSidebar("Address") {
        <script>changeTab("viewAddress")</script>
        @for(address <- arr) {
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h3>Address line 1:</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                    <h3>@address.addressLineOne</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h3>Address line 2:</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                    <h3>@address.addressLineTwo</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h3>County:</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                    <h3>@address.county</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h3>City:</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                    <h3>@address.city</h3>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h3>Postcode:</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                    <h3>@address.postcode</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a href="@routes.AccountController.removeAddress(address.addressLineOne, address.addressLineTwo, address.postcode)" class="btn btn-danger">Remove</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <hr>
                </div>
            </div>
        }

    }
}