@(form: Form[CustomerDetails])
import _root_.{Order, OrderLine,Product}
@main("ViewAccount") {


<style>
        .input-group-addon {
            min-width: 180px;
        }

        .center-text {
            margin-left: 40%;
        }

        .center {
            margin-left: 36%;
        }
        .center-text {
            margin-left: 35%;
        }
        </style>
<div class="center-text">
    <h1>Purchase History</h1>
</div>



<ul><!-Spacing-->
    <div class="center-text">



    </div>

</ul>​<!-Spacing-->


@for(o <- Order.orderList){



}



<!-One table per order-->
<table style="width:100%">

    <!-Total of whole order-->
    <tr>

        <th style = color:white;background-color:black>Order date:</th>
        <th style = color:white;background-color:black>Order status: @</th>
        <th style = color:white;background-color:black>Total:</th>
    </tr>

    <tr>
        <th style = color:white;background-color:black>11/12/15</th>
        <th style = color:white;background-color:black>Delivered</th>
        <th style = color:white;background-color:black>184.99</th>
    </tr>

    <!-Header of each order-->
    <tr>
        <th>Item:</th>
        <th>Quantity:</th>
        <th>Price:</th>
    </tr>
    <!-Rows of single order-->
    <tr>
        <td>Sexy Gnome</td>
        <td>3</td>
        <td>50</td>
    </tr>

    <tr>
        <td>Spade</td>
        <td>1</td>
        <td>15</td>
    </tr>

    <tr>
        <td>Shovel</td>
        <td>1</td>
        <td>20</td>
    </tr>

    <tr>
        <td>Gazebo</td>
        <td>2</td>
        <td>99.99</td>
    </tr>
</table>

<ul><!-Spacing-->

</ul>​

<ul>

</ul>​<!-Spacing-->
<!-End of first order-->


<!-One table per order-->
<table style="width:100%">

    <!-Total of whole order-->
    <tr>

        <th style = color:white;background-color:black>Order date:</th>
        <th style = color:white;background-color:black>Order status:</th>
        <th style = color:white;background-color:black>Total:</th>
    </tr>

    <tr>
        <th style = color:white;background-color:black>11/12/15</th>
        <th style = color:white;background-color:black>Delivered</th>
        <th style = color:white;background-color:black>184.99</th>
    </tr>

    <!-Header of each order-->
    <tr>
        <th>Item:</th>
        <th>Quantity:</th>
        <th>Price:</th>
    </tr>
    <!-Rows of single order-->
    <tr>
        <td>Sexy Gnome</td>
        <td>3</td>
        <td>50</td>
    </tr>

    <tr>
        <td>Spade</td>
        <td>1</td>
        <td>15</td>
    </tr>

    <tr>
        <td>Shovel</td>
        <td>1</td>
        <td>20</td>
    </tr>

    <tr>
        <td>Gazebo</td>
        <td>2</td>
        <td>99.99</td>
    </tr>
</table>

<ul><!-Spacing-->

</ul>​

<ul>

</ul>​<!-Spacing-->
<!-End of first order-->


<!-One table per order-->
<table style="width:100%">

    <!-Total of whole order-->
    <tr>

        <th style = color:white;background-color:black>Order date:</th>
        <th style = color:white;background-color:black>Order status:</th>
        <th style = color:white;background-color:black>Total:</th>
    </tr>

    <tr>
        <th style = color:white;background-color:black>11/12/15</th>
        <th style = color:white;background-color:black>Delivered</th>
        <th style = color:white;background-color:black>184.99</th>
    </tr>

    <!-Header of each order-->
    <tr>
        <th>Item:</th>
        <th>Quantity:</th>
        <th>Price:</th>
    </tr>
    <!-Rows of single order-->
    <tr>
        <td>Sexy Gnome</td>
        <td>3</td>
        <td>50</td>
    </tr>

    <tr>
        <td>Spade</td>
        <td>1</td>
        <td>15</td>
    </tr>

    <tr>
        <td>Shovel</td>
        <td>1</td>
        <td>20</td>
    </tr>

    <tr>
        <td>Gazebo</td>
        <td>2</td>
        <td>99.99</td>
    </tr>
</table>

<ul><!-Spacing-->

</ul>​

<ul>

</ul>​<!-Spacing-->
<!-End of first order-->




}